<!--

    <tr *ngFor="let productType of productTypes;">
      &lt;!&ndash; <td>{{productType.status}}</td> &ndash;&gt;
      <td>{{productType.number}}</td>
      <td>{{productType.name}}</td>
      &lt;!&ndash; <td>{{productType.grossPrice}}</td> &ndash;&gt;
      <td>{{productType.netPrice}}</td>
      <td>{{productType.barcode}}</td>
      <td>{{productType.serialnumber}}</td>
      <td>{{productType.stock}}</td>
      <td>{{productType.status}}</td>
    </tr>-->


<h2>Manage product types</h2>

<ul class="product-type">
  <li *ngFor="let producttype of productTypes">
    <a routerLink="/detail/{{producttype.id}}">
      <span class="badge">{{producttype.id}}</span>{{producttype.name}}
    </a>
  </li>
</ul>
