<div class="container">
  <div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="./new">New</a>
      </li>
      <li>
        <form class="form-inline my-2 my-lg-0">
            <input type="text" id="searchTextId" name="searchText" placeholder="Search" [(ngModel)]="searchText" >
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </li>
    </ul>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let stock of stocks | searchBy : searchText">
      <tr>
        <th scope="row">{{stock.id}}</th>
        <td>{{stock.name}}</td>
        <button class="btn" routerLink="/{{stock.id}}">Details</button>
      </tr>
    </tbody>
  </table>
</div>
