<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Product Component</h5>
          <p class="card-text">View, update, delete your products</p>
          <a routerLink="/products" class="btn btn-primary">Show products</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Stock Component</h5>
          <p class="card-text">View, update, delete your stocks</p>
          <a routerLink="/stocks" class="btn btn-primary">Show stocks</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Component</h5>
          <p class="card-text">View, update, delete your users</p>
          <a routerLink="/users" class="btn btn-primary">Show users</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Customer Component</h5>
          <p class="card-text">View, update, delete your customers</p>
          <a routerLink="/customers" class="btn btn-primary">Show customers</a>
        </div>
      </div>
    </div>
  </div>
</div>
